
/* Add Snoopy-themed styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.Swoopy {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}
.Swoopy {
    font-size: 1em;
    padding: 1em;
}
.big-bold-text {
    font-size: 1em;
    font-weight: bold;
}
header h1 {
    margin: 0;
    font-size: 24px;
}

nav {
    margin-top: 10px;
}

nav a.button {
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav a.button:hover {
    background-color: #0056b3;
    color: #e6ede6;
}
/* Add Snoopy-themed styling */
.CharlieBrown {
    background-color: #FFD700; /* Gold */
    color: black;
    padding: 20px;
    text-align: center;
}

.Linus {
    background-color: #87CEEB; /* Sky Blue */
    color: white;
    padding: 20px;
    text-align: center;
}

.Lucy {
    background-color: #FF69B4; /* Hot Pink */
    color: white;
    padding: 20px;
    text-align: center;
}

.Snoopy {
    background-color: #F5F5DC; /* Beige */
    color: black;
    padding: 20px;
    text-align: center;
}

.Woodstock {
    background-color: #FFD700; /* Gold */
    color: black;
    padding: 20px;
    text-align: center;
}

/* Style the Snoopy image within each header */
.CharlieBrown img,
.Linus img,
.Lucy img,
.Snoopy img,
.Woodstock img {
    /* Adjust styles for the Snoopy image */
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 10px; /* Add margin below the image */
}

/* Other sections styling */
.CharlieBrown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Adjust padding as needed */
}

.CharlieBrown .header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.CharlieBrown img {
    margin-right:auto; /* Pushes the buttons to the right */
    height: 50px; /* Adjust the height as needed */
}

.CharlieBrown .button-container {
    display: flex;
    gap: 15px; /* Space between the buttons */
}

.CharlieBrown  .button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff00;
    color: white;
    border-radius: 5px;
    font-family: 'Arial', sans-serif; /* Change font family */
    font-size: 16px; /* Change font size */
    font-weight: bold; /* Change font weight */
}
.SnoopyHouse {
    font-size: 1em;
    padding: 20px;
    text-align: center;
    background-color: #b19cd9;
    color: white;
}
